<div class="register">
    <!-- Header -->
    <div class="register__header">
        <div class="container-fluid">
            <!-- Back -->
            <button routerLink="/login" class="back btn material-icons"> arrow_right_alt </button>
            <!-- Title -->
            <div class="register__header-title">
                Đăng ký tài khoản
            </div>
        </div>
    </div>

    <!-- Register Form -->
    <div class="container-fluid">
        <form class="register__form">
            <!-- Name -->
            <input type="text" class="name register__form-input" placeholder="Họ tên">
            <!-- Phone number -->
            <input type="text" class="phone register__form-input" placeholder="Số điện thoại">
            <!-- Password -->
            <input type="text" class="password register__form-input" placeholder="Mật khẩu ( 6 kí tự)">
        </form>

        <button class="registerBtn btn ">Đăng ký</button>
    </div>
</div>