<div class="cart">
    <div class="container-fluid">
        <!-- Back button -->
        <div class="cart__header">
            <button routerLink="/pages/camera" class="back btn material-icons"> arrow_right_alt </button>
            <span class="title">Giỏ hàng</span>
            <button routerLink="/pages/camera/cart/payment" class="payment btn material-icons">
                done
            </button>
        </div>

        <!-- In Cart -->
        <div class="cart__body">
            <!-- Products -->
            <ul class="products">
                <li class="product">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-8 d-flex align-items-center" style="padding: 0;">
                                <!-- name -->
                                <div class="product__name">
                                    Bo luc lac
                                </div>
                                <!-- amount -->
                                <div class="product__amount">
                                    <label>x</label>
                                    <input type="number" placeholder="1">
                                </div>
                            </div>
                            <!-- price -->
                            <div class="col-2">
                                <div class="product__price">
                                    19.000vnd
                                </div>
                            </div>
                            <div class="col-2">
                                <span class="material-icons-outlined">
                                    delete
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="product">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-8 d-flex align-items-center" style="padding: 0;">
                                <!-- name -->
                                <div class="product__name">
                                    Bo luc lac
                                </div>
                                <!-- amount -->
                                <div class="product__amount">
                                    <label>x</label>
                                    <input type="number" placeholder="1">
                                </div>
                            </div>
                            <!-- price -->
                            <div class="col-2">
                                <div class="product__price">
                                    19.000vnd
                                </div>
                            </div>
                            <div class="col-2">
                                <span class="material-icons-outlined">
                                    delete
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="cart__body-bottom">
                <!-- Amount -->
                <div class="amount">
                    Số lượng :
                    <span>2</span>
                </div>
                <!-- Total -->
                <div class="total">
                    Tổng tiền :
                    <span>1.750.000</span>
                </div>
            </div>

        </div>

    </div>
</div>