.confirm {
  position: relative;
  padding: 3rem 0;
  overflow: hidden;

  .closeBtn {
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    content: "";
    top: -5px;
    right: -5px;
  }

  &-text {
    font-size: 12px;
    padding: 1rem;
    // font-weight: 500;
    color: #6d6464;
    text-align: center;
  }

  .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      color: white;
      border-radius: 25px;
      padding: 0.25rem 2rem;
      margin: 0 2rem;
      font-size: 15px;

      &:hover {
        transform: scale(1.2);
      }
    }

    .yesBtn {
      background-color: #f44336;
    }
    .noBtn {
      background-color: #9e9e9e;
    }
  }
}
