// Done
.done {
  position: relative;
  height: 100%;
  &__header {
    height: 38.6px;

    .container-fluid {
      background-color: white;
      display: flex;
      justify-content: center;
    }
    .closeDone {
      font-size: 3rem;
      position: absolute;
      content: "";
      right: 0;
      color: black;
      font-weight: bold;
    }
  }

  &__content {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      span {
        font-size: 9rem;
        margin-bottom: 3rem;
        color: white;
        background-color: #16f416;
        border-radius: 50%;
        opacity: 0.75;
        font-weight: bold;
      }

      .content-wrapper__text {
        font-size: 2rem;
        text-align: center;
      }
    }
  }
}
