<div class="done">
    <div class="done__header">
        <div class="container-fluid">
            <!-- header -->
            <button routerLink="/pages/camera" class="closeDone btn material-icons">close</button>
        </div>
    </div>
    <!-- Content -->
    <div class="done__content">
        <div class="container-fluid">
            <div class="done__content-wrapper">
                <!-- Icon -->
                <span class="material-icons">
                    check_circle
                </span>
                <!-- Title -->
                <p class="content-wrapper__text">
                    Cảm ơn bạn đã tin tưởng và lựa chọn cửa hàng của chúng tôi.
                </p>
            </div>
        </div>
    </div>
</div>