<!-- Profile -->
<div class="profile">
    <div class="container-fluid">
        <!-- Header -->
        <div class="profile__header">
            <button class="editBtn btn material-icons" *ngIf="!isEdit" (click)="editMode()">
                create
            </button>
            <button class="checkBtn btn material-icons" *ngIf="isEdit" (click)="saveChange()">
                done
            </button>
            <span class="profile__header-title">Tài khoản</span>
            <button class="moreBtn btn material-icons" [matMenuTriggerFor]="menu">more_horiz</button>
            <mat-menu #menu="matMenu" class="matMenu-actions">
                <button (click)="logOut()" mat-menu-item class="matMenu-actions__logOut">
                    Đăng xuất
                </button>
            </mat-menu>
        </div>
        <!-- Avatar -->
        <div class="row">
            <div class="col text-center">
                <div class="avatar">
                    <p class="avatar__notice" *ngIf="!userAvatarLink">Chưa có ảnh đại diện</p>
                    <img [src]="userAvatarLink" *ngIf="userAvatarLink" />
                    <label for="userAvatar">
                        <span class="material-icons">
                            add_a_photo
                        </span>
                    </label>
                    <input #userAvatar type="file" accept="image/*" id="userAvatar" (change)="userChangeAvatar($event)"
                        hidden />
                </div>
            </div>
        </div>

        <mat-tab-group class="align-items-center">
            <mat-tab label="Thông tin">
                <ng-template mat-tab-label>
                    <span>
                        Thông tin
                    </span>
                </ng-template>
                <!-- Thông tin -->
                <div class="information">
                    <div class="container">
                        <div class="row">
                            <div class="col-4 input-text">
                                Họ tên:
                            </div>
                            <div class="col-8">
                                <input class="input" type="text" [(ngModel)]="fullName" style="cursor: pointer;"
                                    [readonly]="!isEdit" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 input-text">
                                Giới tính:
                            </div>
                            <div class="col-8">
                                <form class="gender__form">
                                    <label class="gender__form-label">
                                        Nam
                                        <input type="radio" name="gender" value="male" class="gender gender-male"
                                            style="color: #224177;" (change)="chooseGenderType(1)"
                                            [checked]="gender == 1" [disabled]="!isEdit" />
                                        <br />
                                    </label>
                                    <label class="gender__form-label">
                                        Nữ
                                        <input type="radio" name="gender" value="female" class="gender gender-female"
                                            style="color: #224177;" (change)="chooseGenderType(2)"
                                            [checked]="gender == 2" [disabled]="!isEdit" />
                                        <br />
                                    </label>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 input-text">
                                Ngày sinh:
                            </div>
                            <div class="col-8">
                                <input class="input" type="date" [(ngModel)]="birthday" [readonly]="!isEdit">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 input-text">
                                Điện thoại:
                            </div>
                            <div class="col-8">
                                <input type="text" class="input" [(ngModel)]="phone" [readonly]="!isEdit">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 input-text">
                                Địa chỉ:
                            </div>
                            <div class="col-8">
                                <input type="text" class="input profile-address" [(ngModel)]="address"
                                    [readonly]="!isEdit">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 input-text">
                                Email:
                            </div>
                            <div class="col-8">
                                <input type="text" class="input profile-gmail" [(ngModel)]="email" [readonly]="!isEdit">
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Thống kê">
                <ng-template mat-tab-label>
                    <span>
                        Thống kê
                    </span>
                </ng-template>
                <!-- Thống kê -->
                <div class="report">
                    <div class="container">
                        <!-- Total spent money -->
                        <p class="report__total">
                            Tổng tiền bạn đã mua sắm:
                            <span>{{totalSpentMoney}}</span>
                        </p>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>

    </div>


    <!-- Overlay show signIn signUp -->
    <div class="overlaySign" *ngIf="!currentUser">
        <div class="container">
            <div class="wrapper">
                <!-- Title -->
                <h3 class="overlaySign__title">
                    Bạn cần đăng nhập để sử dụng chức năng này
                </h3>
                <div class="action__wrapper">
                    <button class="signInBtn actionBtn" routerLink="/login">Đăng nhập</button>
                </div>
                <!-- Register route -->
                <p class="register__wrapper">
                    Bạn chưa có tài khoản?
                    <a class="register" routerLink="/login/register">Đăng ký</a>
                </p>
            </div>
        </div>
    </div>
</div>