// Profile
.profile {
  height: 100%;
  position: relative;
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 2rem;
    padding-top: 1rem;
    margin-bottom: 2rem;

    .editBtn {
      font-size: 2rem;
      position: absolute;
      content: "";
      left: 0;
      font-weight: bold;
    }

    .checkBtn {
      @extend .editBtn;
    }

    .moreBtn {
      font-size: 2rem;
      position: absolute;
      content: "";
      right: 0;
      color: black;
      font-weight: bold;
    }
  }

  .avatar {
    width: 12rem;
    height: 12rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background: #fafafa;
    border-radius: 50%;

    &__notice {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 14px;
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
    .add-photo {
      position: absolute;
      width: 40px;
      height: 40px;
      bottom: 5px;
      right: 5px;
      filter: contrast(0.5);
      // background-color: white;
      border-radius: 20px;
    }
    .material-icons {
      position: absolute;
      bottom: 11%;
      right: -3%;
      color: #224177;
      font-size: 21px;
      background-color: #fff;
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50%;
    }
  }

  .information {
    margin-top: 2rem;
    .row {
      margin: 1em 0em;
      width: 100%;
      align-items: center;
    }

    .input-text {
      font-size: 12px;
      font-family: Segoe UI;
      color: #9caac2;
      padding-right: 0px;
    }

    .input {
      border-bottom: 0.1px solid #9caac2;
      border-top: none;
      border-left: none;
      border-right: none;
      color: #224177;
      font-weight: 600;
      font-family: Segoe UI;
      font-size: 15px;
      width: 100%;
      border-radius: 0.5rem;
      padding: 0.25rem 0.5rem;
      outline: none;
    }

    .gender__form {
      display: flex;
      flex-direction: row;
      color: #224177;
      font-size: 15px;
      font-weight: 600;
      font-family: Segoe UI;
      align-items: center;

      &-label {
        position: relative;
        padding-left: 2rem;
        margin-right: 1rem;

        .gender {
          color: #224177;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: unset;
        }
      }
    }
  }

  .report {
    margin-top: 2rem;
    font-size: 12px;
    &__total {
      // font-size: 15px;
    }

    &__order {
      width: 300px;
      .wrapper {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #cecece;
        padding-bottom: 1rem;
      }

      &-title {
        display: flex;
        align-items: center;

        .icon {
          color: #224177;
        }

        .title__text {
          margin-left: 5px;
        }
      }

      &-all {
        @extend .report__order-title;

        span {
          font-size: 11px;
          color: #737070;
        }
      }

      .order__status {
        padding: 1rem 0;
        border-bottom: 1px solid #cecece;

        &-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .icon {
            position: relative;

            .material-icons-outlined {
              font-size: 30px;
            }

            .displayNumber {
              background: #ee4d2d;
              color: white;
              border-radius: 50%;
              width: 16px;
              height: 16px;
              position: absolute;
              content: "";
              top: -3px;
              right: -10px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 10px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  mat-tab-group {
    margin-top: 1rem;
    padding: 0 15px;
  }

  .overlaySign {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 92%;
    background-color: white;
    z-index: 999;

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: inherit;

      .wrapper {
        padding: 2rem;
        background: #9e9e9e0f;
        box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px,
          rgb(0 0 0 / 30%) 0px 1px 3px -1px;
        border-radius: 25px;

        .overlaySign__title {
        }
        .action__wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .actionBtn {
            margin: 1.5rem 0;
            outline: none;
            border: none;
            font-size: 14px;
            padding: 0.75rem 3rem;
            border-radius: 25px;
            box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px,
              rgb(0 0 0 / 30%) 0px 3px 7px -3px;
            font-weight: 500;
          }
        }
        .register__wrapper {
          text-align: center;
          font-size: 14px;
          a {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
