<div class="login">
    <div class="container-fluid">

        <!-- Logo -->
        <div class="logo">

        </div>
        <div class="wrapper">
            <!-- Form -->
            <form class="login__form">
                <!-- Title -->
                <h2 class="login__form-title">Chào mừng tới cửa hàng chúng tôi</h2>
                <div class="input__wrapper">
                    <!-- Icon -->
                    <span class="material-icons">
                        smartphone
                    </span>
                    <input type="text" class="phone" placeholder="Nhập số điện thoại của bạn">
                </div>
                <input type="text" class="password" placeholder="Nhập mật khẩu của bạn" *ngIf="!isOTP">

            </form>
            <button class="otpBtn btn" *ngIf="isOTP">Gửi mã OTP</button>
            <button class="signBtn btn" *ngIf="!isOTP">Đăng nhập</button>
            <p class="divider-text">Hoặc</p>
            <a class="passLogin" *ngIf="isOTP" (click)="isOTP = !isOTP">Đăng nhập bằng mật khẩu</a>
            <a class="otpLogin" *ngIf="!isOTP" (click)="isOTP = !isOTP">Đăng nhập bằng mã OTP</a>
            <a class="forgetPass" *ngIf="!isOTP" (click)="openForgetPass()">Quên mật khẩu?</a>

            <!-- Register -->
            <div class="register">
                Bạn chưa có tài khoản?
                <a routerLink="/login/register" class="register__link">Đăng ký</a>
            </div>
        </div>
    </div>
</div>