<div class="forgetPass">
    <div class="container">
        <!-- Close -->
        <button class="closeBtn btn material-icons" (click)="closeForgetPass()">close</button>
        <!-- Title -->
        <h2 class="forgetPass__title">Bạn quên mật khẩu?</h2>
        <p>Nhập email của bạn để đặt lại mật khẩu</p>
        <p class="error-text">{{authError?.message}}</p>
        <div class="input__wrapper">
            <!-- Icon -->
            <span class="material-icons">
                mail
            </span>
            <input type="email" class="email" name="email" required placeholder="Email của bạn" [(ngModel)]=email>
        </div>
        <button type="button" class="sendBtn btn" (click)="sendResetPass()">Gửi</button>
    </div>
</div>