// Forget Password
.forgetPass {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 85vh;
  background: #fff;
  right: 0;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

  .container {
    position: relative;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;

    .closeBtn {
      position: absolute;
      content: "";
      right: 5px;
      top: 0;
      font-size: 2rem;
      font-weight: bold;
    }

    .forgetPass__title {
      margin: 3rem 0 2rem 0;
    }

    p {
      font-size: 14px;
    }

    .error-text {
      color: red;
    }

    .input__wrapper {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .material-icons {
        position: absolute;
        content: "";
        left: 14px;
        color: #c8ccd1;
      }

      .email {
        width: 100%;
        border-radius: 20px;
        padding: 0.85rem;
        padding-left: 4rem;
        outline: none;
        border: 1px solid #ced6e1;
        font-size: 14px;
      }
    }

    .sendBtn {
      margin: 2rem auto;
      background-color: #d5e7f7;
      border-radius: 2rem;
      font-size: 1.6rem;
      font-weight: 500;
      color: #224177;
      padding: 0.75rem 6rem;
    }
  }
}
