<div class="cart">

    <!-- Back button -->
    <div class="cart__header">
        <div class="container-fluid">
            <button (click)="goBack()" class="back btn material-icons"> arrow_right_alt </button>
            <span class="cart__header-title">Giỏ hàng</span>
            <button (click)="goToPayment()" class="payment btn material-icons">
                done
            </button>
        </div>
    </div>

    <!-- In Cart -->
    <div class="cart__body">
        <div class="container-fluid pt-3">
            <!-- Title -->
            <p class="title">Các sản phẩm trong giỏ hàng:</p>
            <!-- Products -->
            <ul class="products">
                <li class="product" *ngFor="let product of products; let i = index">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-7 d-flex align-items-center" style="padding: 0;">
                                <div class="product__name">
                                    {{product.name}}
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="product__amount">
                                    <label>x</label>
                                    <input type="number" min="1" max="999" [(ngModel)]="product.amount"
                                        (ngModelChange)="changeAmount($event, i)">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="product__price">
                                    {{product.priceToShow}}
                                </div>
                            </div>
                            <div class="col-1">
                                <span class="deleteBtn material-icons-outlined" (click)="deleteItemWhenClick(i)">
                                    delete
                                </span>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <p class="error-text" id="product{{i}}"></p>
                        </div>
                    </div>
                </li>
                <!-- <li class="product" id="1">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-8 d-flex align-items-center" style="padding: 0;">
                                <div class="product__name">
                                    Bo luc lac
                                </div>
                                <div class="product__amount">
                                    <label>x</label>
                                    <input type="number" placeholder="1">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="product__price">
                                    19.000vnd
                                </div>
                            </div>
                            <div class="col-2">
                                <span class="deleteBtn material-icons-outlined" (click)="deleteItemWhenClick()">
                                    delete
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="product" id="2">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-8 d-flex align-items-center" style="padding: 0;">
                                <div class="product__name">
                                    Bo luc lac
                                </div>
                                <div class="product__amount">
                                    <label>x</label>
                                    <input type="number" placeholder="1">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="product__price">
                                    19.000vnd
                                </div>
                            </div>
                            <div class="col-2">
                                <span class="deleteBtn material-icons-outlined" (click)="deleteItemWhenClick()">
                                    delete
                                </span>
                            </div>
                        </div>
                    </div>
                </li> -->

            </ul>
        </div>
        <!-- Divider -->
        <hr class="divider">
        <div class="cart__body-bottom container-fluid">
            <!-- Title -->
            <p class="title">Tổng cộng</p>
            <div class="wrapper">
                <!-- Amount -->
                <div class="amount">
                    Số lượng :
                    <span>{{totalProducts}}</span>
                </div>
                <!-- Total -->
                <div class="total">
                    Tổng tiền phải thanh toán :
                    <span>{{totalMoneyToShow}}</span>
                </div>
            </div>

        </div>

    </div>

</div>