// import link scss material-icons
@import "material-icons/iconfont/material-icons.scss";

// import angular material style
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif !important;
  font-weight: 600;
}
button {
  outline: none;
}

:root {
  font-size: 62.5%;
}

//   Mat menu
.cdk-overlay-container {
  .cdk-overlay-connected-position-bounding-box {
    right: 0px !important;
  }
}

.mat-tab-label-active {
  opacity: 1 !important;
  color: black;
  font-weight: bold;
}
