.camera {
  height: 100%;
  // Temp background color
  background-color: black;

  .viewport::ng-deep video {
    width: 100%;
    height: 240px;
    object-fit: cover;
    // temp border color
    border: 5px solid white;
  }

  .viewport {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 85%;
    justify-content: center;

    .drawingBuffer {
      position: absolute;
      content: "";
    }
  }

  .notice {
    color: white;
    font-weight: bold;
    margin-top: 1rem;
  }
}
